.blackContainer {
    background-color: black;
}

.sectionContainer {
    /*height: 475px;*/
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer {
    
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navs {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
        margin-right: 15px;
        color: white;
    }
}

.paymentsAndSocialContainer {

}