.footerContainer {
    background-color: black;
}

.sectionContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 408px;
}

.logoContainer {
    
}

.linksContainer {
    display: flex;
    justify-content: space-between;
}

.navs {
    display: flex;
    flex-direction: column;
    /* talvez colocar aqui um 'margin-right: 30px;' */

    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
        margin-right: 15px;
        color: white;
    }
    /* Aqui estou fazendo a borda a direita de cada 'nav': */
    flex: 1;
    padding: 10px;
    border-right: 1px solid #cccccc; 
}

.navs:last-child {
      border-right: none; /* Aqui estou removendo a borda do último 'nav' */
    }

.paymentsAndSocialContainer {
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    margin-right: 330px;
}

.paymentsLogos {
    display: flex;
    img {
        margin-right: 10px;
    }
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

.socialLogos {
    display: flex;
    img {
        margin-right: 10px;
    }
}

.Xlogo {
    height: 32px;
}