.findNearestStoreContainer {
    background-color: #6D3938;
    height: 408px;
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: white;
    font-size: xx-large;
    font-weight: 400;
}

.strongText {
    font-size: 3rem;
}