.littleProductCardContainer {
    background-color: white;
}

.topside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottomside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottomsideFirtLine {
    display: flex;
    justify-content: space-around;
}

.aPartirDe {
    font-size: 25px;
}

.bottomsideSecondLine {
    display: flex;
    justify-content: space-around;
}

.price {
    font-size: 40px;
    font-weight: bold;
    color: #425B41;
    margin: 0;
}

.buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}