.greenContainer {
    background-color: #425B41;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 45px;
}

.text {
    color: white;
}

.video {
    border: none;
}