.greenConteiner {
    background-color: #425B41;
    margin: auto;
    position: relative;
    width: 1349px;
    height: 356px;

    display: flex;
    justify-content: space-around;
}

.text {
    width: 638px;
    height: 100px;
    color: white;
}

.videoConteiner {

}

.video {
    border: none;
}