.clubFormContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}

.tittle {
    text-align: center;
    font-size: xx-large;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formDiv {
    margin: 10px;
}

.formLabel {
    font-size: x-large;
}

.formInput {
    border: 1px solid black;
    border-radius: 16px;
    padding-left: 10px;
    width: 520px;
    height: 34px;
}

.submitButton {
    background-color: #425B41;
    color: white;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;

    border: none;
    border-radius: 14px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    width: 238px;
    height: 52px;
}