.clubFormContainer {

}

.sectionContainer {
    display: flex;
    flex-direction: column;
}

.tittle {
    text-align: center;
    font-size: xx-large;
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*8 