.redContainer {
    background-color: #6D3938;
}

.sectionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    color: white;
    font-size: xx-large;
}