.productCardContainer {
    background-color: white;
    height: 1396px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------- */

.navigation {
    margin-top: 40px;
}

/* -------------------------------------- */

.mediaAndInfosContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.gallery {
    display: flex;
}

.littleMedias {
    display: flex;
    flex-direction: column;
}

.littleImage {
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
}

.bigMedia {
    margin-left: 43px;
}

.bigImage {
    width: 572px;
    height: 572px;
}

/* ---------------- */

.productInfos {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
 

.tittle {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 400;
}

.price {
    font-size: 24px;
    font-weight: 300;
}

.aboutContainer {
    margin-top: 50px;
}

.aboutH2 {
    font-size: 28px;
    font-weight: 400;
}

.aboutParagraph {
    font-size: 24px;
    font-weight: 300;
}

/* ------------- */

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.quantityButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid #d0d0d0;
    width: 130px;
    height: 45px;
}

.plusAndMinusButtons {
    background-color: white;
    width: 60px;
    height: 40px;
    border: 0;
    color: #6D3938;
    cursor: pointer;
    user-select: none;
}

.quantityNumber {
    width: 10px;
    color: black;
}

.addCartButton {
    background-color: #425B41;
    width: 250px;
    height: 45px;
    border-radius: 14px;
    border: 0;
    color: white;
}

/* -------------------------------------- */

.prepareContainer {
    margin-top: 50px;
}

.prepareTittle {
    font-size: 36px;
    font-weight: 400;
}

.prepareSteps {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stepImage {
    width: 70px;
    height: 70px;
}

.stepParagraph {
    justify-content: center;
}

/* ---------- Skeleton ------------------ */

.navSkeleton {
    background-color: #E9EAE9;
    width: 300px;
    height: 16px;
}

.littleImageSkeleton {
    background-color: #E9EAE9;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
}

.bigImageSkeleton {
    background-color: #E9EAE9;
    width: 572px;
    height: 572px;
}

.tittleSkeleton {
    background-color: #E9EAE9;
    margin-bottom: 15px;
    width: 467px;
    height: 96px;
}

.priceContainerSkeleton {
    display: flex;
}

.priceSkeleton {
    background-color: #E9EAE9;
    width: 70px;
    height: 22px;
}