.productCardContainer {
    background-color: #E9EAE9;
    height: 1396px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------- */

.mediaAndInfosContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
}


.gallery {
    display: flex;
}

.littleMedias {
    display: flex;
    flex-direction: column;
}

.littleImage {
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
}

.bigMedia {
    margin-left: 43px;
}

.bigImage {
    width: 572px;
    height: 572px;
}

/* ---------------- */

.productInfos {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
 

.tittle {
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 400;
}

.priceAndQuantity {
    font-size: 24px;
    font-weight: 400;
}

/* -------------------------------------- */

.prepareContainer {
    margin-top: 50px;
}

.prepareTittle {
    font-size: 36px;
    font-weight: 400;
}