.productListContainer {
    
}

.sectionContainer {
    background-color: #C4C4C4;
}

.filtersContainer {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.labelStyle {
    font-size: large;
}

.selectStyle {
    border-radius: 10px;
    background-color: #C4C4C4;
}