.whiteContainer {
    background-color: white;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.tittle {
    font-size: xx-large
}

.cards {
    display: flex;
}