.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.highlightedProductsContainer {
    background-color: white;
}

.tittle {
    font-size: xx-large
}

.arrowsPlusCards {
    display: flex; 
}

.arrowsButtons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cards {
    display: flex;
    flex-direction: row;
}