.headerContainer {
    background-color: white;
}

.sectionContainer {
    height: 133px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    
}

.linksContainer {
    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        margin-right: 15px;
        color: #000000;
    }
    display: inline-flex;
    justify-content: space-around;
}

.iconsLinksContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
