.header {
    display: flex;
    justify-content: space-around;
    height: 133px;
}

.logo {
    margin: auto;
}

.links {
    a {
        text-decoration: none;
        font-size: 15px;
    }
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
}

.iconsLinks {
    margin: auto;
}

