body {
    font-family: 'Josefin Sans', sans-serif !important;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%
}

/* 
Da linha 6 até a linha 11 nós temos um Reset CSS

Nada mais é do que uma técnica ou conjunto de estilos CSS projetados para normalizar o estilo padrão dos elementos HTML em todos os navegadores da web. 

"box-sizing: border-box;" : Faz com que as bordas e o preenchimento sejam incluídos no tamanho total do elemento 
*/

