.headerContainer {
    background-color: #E9EAE9;
}

.sectionContainer {
    height: 133px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksContainerItem {
    text-decoration: none;
    font-size: 18px;
    font-weight: regular;
    margin-right: 15px;
    color: #000000;
    height: 25px;
    display: inline-block;
}

.activeLink {
    border: 1px solid black;
    border-radius: 14px;
    padding: 4px;
}

.iconsLinksContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cartButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.userButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .sectionContainer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .linksContainerItem {
        display: none;
    }

    .cartButton {
        display: none;
    }

    .userButton {
        display: none;
    }

    .menuButton {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .logoImg {
        width: 200px;
        height: 50px;
    }
}