.howItWorksContainer {
    background-color: white;
    
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textContainer {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.paragraph {
    margin: 0 60px;
}