.howItWorksContainer {
    background-color: white;
    height: 423px;
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: black;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}